html{
    background-color: lightgray;
}
body{
    text-align: center;
    margin: 0;
    padding-top: 150px;
}
header{
    height: 150px;
    background: darkslategray;
    position: fixed;
    width: 950px;
    top: 0;
}

header span{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: x-large;
}

header a{
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.navBar {
    width: 950px;
    height: 75px;
    background-color: firebrick;
    text-align: center;
    position: relative;
    z-index: 150;
    box-shadow: 2px 10px 2px -4px gray;
}

.navBar a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    margin-top: 15px;
    padding-left: 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.navBar a:hover, a:active {
    background-color: orangered;
}

.content{
    background: white;
    height: 1500px;
    width: auto;
    position:relative;
}

.page-wrap{
    text-align: left;
    width: 950px;
    position: relative;
    margin: 0 auto;
}

.main{
    width: 690px;
    height: 1382px;
    float: left;
    position:relative;
    margin-top: 25px;
    margin-left: 10px;
    text-align: center;
    background-image: url("../content/bulletin_background.jpg");
    border-radius: 8px;
}

.main p{
    position: relative;
    margin-left: 45px;
    margin-right:45px;
    font-size: large;
    line-height: 25px;
    text-align: justify;
    text-indent: 25px;
}

.main h1{
    position: relative;
    margin-top: 50px;
    font-family: "Impact";
}

.main h2{
    text-align: justify;
    margin-left:45px;
}
.main h3{
    text-align: justify;
    margin-left:45px;
}

.main ul li{
    margin-right:45px;
    margin-left:45px;
    text-align: justify;
    font-size: large;
    line-height: 25px;
}

.sidebar{
    width: 200px;
    height: 500px;
    float: right;
    position:relative;
    margin-top: 25px;
    margin-right: 10px;
    text-align: center;
    font-family: "Impact";
}

.sidebar a img{
    padding-left: 12px;
    padding-top: 12px;
    cursor: pointer;
}


#closing{
    text-align: center;
}

#photos{
    width: 670px;
    height: 1372px;
    margin-left: 10px;
    text-align: center;
}

.photo_info{
    padding-top: 10px;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 250px;
    display: inline-block;
    margin: 0 2px;
    position: relative;
}

.photo{
    width: 200px;
    height: 200px;
    position: relative;
}

.photo img{
    max-width:100%;
    max-height:100%;
    min-height:75%;
    cursor: pointer;
}



#footer{
    height: 60px;
    background-color: firebrick;
    color: white;
    text-align: center;
    padding-top: 30px;
    line-height: 25px;
}

.modal {
    /* A dark translucent div that covers the whole screen */
    position:absolute;
    z-index:999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.8);

}

.big-pic{
    z-index:10000;
    width: 500px;
    height: 500px;
    text-align: center;
    opacity: 1;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    top: 20%;
    left: 30%;
}

.big-pic img{
    max-height: 100%;
    max-width: 100%;
    min-height: 75%;
    min-width: 100%;
}

#noindent{
    text-indent: 0px;
}

#techskills{
    line-height: 1px;
}

#techskills h2{
    line-height: 30px;
}

#workexp{
    line-height: 1px;
}

#workexp h2{
    line-height: 30px;
}

#edu{
    line-height: 1px;
}
#edu h2{
    line-height: 30px;
}

