body{
    text-align: center;
    border: solid;
    margin: 0;
    padding-top: 250px;
}
header{
    height: 250px;
    padding-top: 50px;
    background: lightgreen;
}

header,
.nav-scolled{
    position: fixed;
    width: 950px;
    top: 0;
}

.navBar {
    width: 950px;
    height: 75px;
    background-color: firebrick;
    text-align: center;
    position: relative;
    margin-bottom: -80px;
    z-index: 150;
}

.navBar a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    padding: 4px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.navBar a:hover, a:active {
    background-color: orangered;
}

.content{
    background: #f2f2e8;
    border: dashed;
    border-color: blue;
    height: 1200px;
    width: auto;
    position:relative;
}

.page-wrap{
    text-align: left;
    width: 950px;
    position: relative;
    margin: 0 auto;
    border: dashed;
}

.main{
    width: 690px;
    height: 517px;
    float: left;
    border: solid;
    border-color: green;
    position:relative;
    margin-top: 50px;
}

.sidebar{
    width: 200px;
    height: 500px;
    border: dashed;
    float: right;
    position:relative;
}

.man {
    background: #f2f2e8;
    padding: 110px 50px 50px;
    column-count: 2;
    column-gap: 40px;
    position: relative;
}

#footer{
    height: 60px;
    background-color: slategray;
}