<div ng-controller="PhotosController">
    <div class="modal" ng-show="display">
        <div class="big-pic">
            <img ng-src="{{popupsrc}}">
            <button style="cursor: pointer" ng-click="display=!display">Close</button>
        </div>
    </div>
    <div class="main">
        <h1>Photos</h1>
        <div id="photos">
            <div ng-repeat="photo in photos" class="photo_info" >
                <div class="photo">
                    <photos-info></photos-info>
                </div>
            </div>
            </br>
            Check out some other pictures of me using the links on the right!
        </div>
    </div>
</div>