<div ng-controller="ResumeController">
    <div class="main">
        <h1>{{title}}</h1>
        <p>Below is my resume. I try to keep it as updated as possible but my complete professional
           profile can be found on LinkedIn</p>
        <div id="edu">
            <h2>Education</h2>
            <h3><a href="https://fsu.edu" target="_blank">Florida State University</a> - Tallahassee, FL</h3>
            <p id="noindent">Bachelor of Science: Computer Science</br>May 2014</p>
        </div>
        <div id="workexp">
            <h2>Work Experience</h2>
            <h3><a href="https://autotrader.com" target="_blank">Autotrader</a> - Atlanta, GA</h3>
            <p id="noindent">Software Engineer in Test July 2015 - Present</p>
            <ul>
                <li>Work in a team environment applying SCRUM Agile methodology</li>
                <li>Stabilize our code/build/deployment</li>
                <li>Collaborate closely with and assisting Operation and Quality Assurance teams when required to ensure timely delivery of new systems, enhancements and bug fixes</li>
                <li>Develop and maintain unit tests for software components in development</li>
            </ul>
            <h3><a href="https://www.cs.fsu.edu" target="_blank">FSU CS Department</a> - Tallahassee, FL</h3>
            <p id="noindent">Teaching Assistant May 2014 - January 2015</p>
            <ul>
                <li>Lecture a class of over 300 students once a week on topics that range from basic computer operations to detailed software/hardware functionality</li>
                <li>Provide students assistance with assignments</li>
            </ul>
            <h3><a href="https://www.cs.fsu.edu" target="_blank">FSU Intramural Sports</a> - Tallahassee, FL</h3>
            <p id="noindent">Supervisor August 2013 - July 2015</p>
            <ul>
                <li>Coordinate and aid in the operation of an extensive intramural program offering over 30 Intramural sports for more than 25,000 annual participants</li>
                <li>Provide supervision for up to 30 staff members at game sites</li>
                <li>Implement conflict management techniques and resolve on-field and on-court protests when necessary</li>
            </ul>
        </div>
        <div id="techskills">
            <h2>Technical Skills</h2>
            <h3>Programming Languages</h3>
            <ul>
                <li>C, C++, C#, Java, Python, SQL</li>
            </ul>
            <h3>Operating Systems</h3>
            <ul>
                <li>Windows, Unix/Linux, OSX</li>
            </ul>
            <h3>Frameworks</h3>
            <ul>
                <li>ASP.NET MVC, JUnit, TestNG</li>
            </ul>
            <h3>Web</h3>
            <ul>
                <li>AngularJS, HTML, CSS, XML, Javascript</li>
            </ul>
            <h3>Other Tools</h3>
            <ul>
                <li>Selenium WebDriver, Apache Maven</li>
            </ul>
        </div>
    </div>
</div>
