<div ng-controller="HomeController">
    <div>
        <div class="main">
            <h1>About Me</h1>
            <p> I value trust and honesty over everything else. These two traits drive me to be the persistent
                and hard working individual that I am. I am confident in my ability to learn new technologies as
                they become available and also in my ability to maintain proficiency in languages I currently know.
                I have always been fascinated by technology and continue to remain up to date on the latest innovations.
                I hope to one day be apart of a team that develops a new technology that will inspire someone to pursue
                a career in computer science just as I have.</p>
        </div>
        <div class="sidebar">
            side
        </div>
    </div>
</div>
