<div ng-controller="HomeController">
    <div>
        <div class="main">
            <h1>About Me</h1>
            <p> I value trust and honesty over everything else. These two traits drive me to be the persistent
                and hard working individual that I am. I am confident in my ability to learn new technologies as
                they become available and also in my ability to maintain proficiency in languages I currently know.
                I have always been fascinated by technology and continue to remain up to date on the latest innovations.
                I hope to one day be apart of a team that develops a new technology that will inspire someone to pursue
                a career in computer science just as I have.</p>

            </br>
            <h2>Recent Activity:</h2>
            <ul>
                <li>Moved to Atlanta in July</li>
                <li>Teaching myself Angular JS and improving HTML and CSS skills</li>
                <li>Started repurposing my old laptop to be a full time web server</li>
                <li>Enjoying the best time of year, football season!</li>
            </ul>
            </br>
            <h2>Personal Lifestyle</h2>
            <p> I love sports and competition. My favorite teams are Manchester United, Florida State Seminoles,
                and the Miami Hurricanes (yes I know they're rivals but sometimes you can't help who you like). I
                enjoy rooting for the Washington Redskins as well but they don't do a good job of giving me much
                to root for lol. In addition watching and playing sports I enjoy working out at the gym. For me there
                are few better ways to relieve stress and constantly gives you a place to set real goals and achieve
                them with noticeable results.</p>
            <p> I really enjoy a good tv show. Netflix has at times made this a very time consuming hobby. Some of my
                favorite TV shows are 24, How I Met Your Mother, Scrubs, House, House of Cards, Sons of Anarchy,
                Breaking Bad, and Entourage. This is a very abbreviated list and actually made me realize how many shows
                i've binge watched within the past few years. Movies go hand in hand with TV shows for me. The Godfather
                is by far my favorite movie. Others are (in no particular order) The Matrix, The Dark Knight Trilogy,
                The Fast and the Furious Series, any Denzel Washington movie, and almost any kind of space movie.</p>
            <p> When I'm not doing any of the above I immerse myself in video games. My favorite series is the Mass
                Effect series. I enjoy almost any category of game and what I play is pretty much dependent of my mood,
                or if I watched a cool movie or something haha. I would like to read more but I currently continue to
                make every excuse possible not to.</p>
            <p> At the end of the day I'm about as normal as the next person. I can talk about almost anything and
                have an interesting ability that allows people to talk to me about almost anything. It has its benefits
                and drawbacks but in the end I would never change who I am.</p>
            </br>
            <h2 id="closing">I hope you all enjoy the rest of my website!</h2>
        </div>
        <div class="sidebar">
            side
        </div>
    </div>
</div>
