<div ng-controller="ProjectsController">
    <div>
        <div class="main">
           <h1>{{title}}</h1>
        </div>
        <div class="sidebar">
            <h2>Connect with me!</h2>
            <a href="https://www.linkedin.com/in/sean-campbell-31977559" target="_blank"><img src="content/linkedin-logo.png"></a>
            <a href="https://github.com/smc10e" target="_blank"><img src="content/GH-icon.svg"></a>
            <a href="https://www.facebook.com/sean.campbell.7946" target="_blank"><img src="content/fb-logo.png"></a>
            <a href="https://www.instagram.com/sm_campbell91/" target="_blank"><img src="content/ig-logo.png"></a>
        </div>
    </div>
</div>
